@import "tailwindcss";

@theme {
  /* Định nghĩa tông màu chủ đạo cho WibuCart */
  --color-sakura-50: #fdf2f8;
  --color-sakura-100: #fce7f3;
  --color-sakura-200: #fbcfe8;
  --color-sakura-400: #f472b6;
  --color-sakura-500: #ec4899; /* Màu nút bấm chính */
  
  --color-kawaii-blue: #bae6fd; /* Xanh nhạt tạo điểm nhấn */
}

/* Đặt màu nền mặc định cho toàn trang */
@layer base {
  body {
    @apply bg-sakura-50 text-gray-800 antialiased;
  }
}